.site-footer {
  background-color: #1a1a1a;
  color: #ccc;
  padding: 2rem 1rem;
  text-align: center;
  font-size: 0.9rem;
  line-height: 30px;
}

.footer-container {
  max-width: 900px;
  margin: 0 auto;
}


@media (max-width: 768px) {
    .footer-container{
        width: 100%;
    }

    .site-footer p{
        font-size: 18px;
    }
}