.get-copy-container{
    width: 100%;
     background: var(--background-section);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 12%;
    gap: 50px;
    padding: 28px;
}

.available-outlets{
    width: 800px;
    height: auto;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px;
    border-radius: 20px;
}

.available-outlets img{
    width: 160px;
    border-radius: 30px;
}

@media (max-width: 768px) {
    .available-outlets{
        width: 100%;
        /* flex-direction: column; */
    }
    .available-outlets img{
        width: 100px;
    }

}